$primary-color: #3083f0;
$black-600: #0a0a0a;
$black-500: #212121;
$white-700: white;
$white-600: rgb(245, 245, 245);
$white-500: rgb(221, 221, 221);
$primary-active: #62A2F7;
$primary-disable: #1F6BCE;
