@mixin reset {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style-type: none;
        list-style: none;
        outline: none;
        scroll-behavior: smooth;
        scroll-padding-top: 10rem;
    }
}